@import "./mixin-bits/margin-padding";
@import "./mixin-bits/mixed";
@import "./mixin-bits/radius";
@import "./mixin-bits//break-points";

@mixin mat-form-field-reset($width: 100px) {
  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
    .mat-form-field-flex {
      border: unset !important;
      border-radius: 0;
      padding: 0;
      background-color: transparent;
      .mat-form-field-infix {
        padding: 0;
        border: none;
        width: $width; // this needs to be set manually to show up later
      }
    }
    .mat-form-field-underline {
      display: none;
    }
  }
}

@mixin custom-chip() {
  background-color: $grey3;
  border: solid 1px #000 !important;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 8px;
  padding-left: 12px;
  color: $black !important;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  padding: 7px 12px;
  border-radius: 16px;
  align-items: center;
  cursor: default;
  min-height: 32px;
  height: 1px;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
  border: none;
  -webkit-appearance: none;
  font-size: 14px;
  font-weight: 500;
}

// styles belonging to buypart-product-prem slider view layout
@mixin slider-view() {
  width: 280px !important;

  // width of smallest mobile is almost the same, lets be consistant!
  &.device-xs-320 {
    width: 302px !important;
  }
  .product-label {
    margin-right: 0.5rem;
  }

  .product-banner {
    font-size: 0.75em;
  }

  .product-detail {
    .row-section-2 {
      > div:nth-child(1) {
        position: relative;
        left: -3px;
      }
      position: relative;
      left: -5px;
      .prem-item-grouped {
        min-width: 157px;
      }
    }
  }
}

// styles belonging to buypart-product-prem
@mixin device-ipad() {
  .prem-section-first {
  }

  .prem-section-last {
    .product-name {
      .title {
        @include font-size(1.25);
        // letter-spacing: -0.02em;
      }
    }

    .product-spec {
      div[class*="spec-"] {
        @include font-size(0.85);
      }
    }

    .product-stock {
      @include font-size(0.85);
    }

    .product-price {
      @include font-size(0.85);
    }

    .product-total {
      .title {
        @include font-size(0.85);
      }
    }
  }
}

// styles belonging to buypart-product-prem
@mixin break-point-large() {
  .product-detail {
    .row-section-2 {
      .prem-item {
        margin-right: 0.25rem;
      }
    }
  }
}
// styles belonging to buypart-product-prem
// styles applied to breakpoints between: 992px,md,sm, xs
@mixin break-point-small() {
  .prem-section-last {
    > .d-flex {
      height: 100%;
    }
  }

  .product-detail {
    .row-section-1 {
      margin-right: 0 !important;
    }

    .prem-item-grouped {
      margin-top: 0.5rem !important;

      &:nth-child(2) {
        min-width: 16px;
        width: 100%;
        margin-top: 0.75rem !important;
      }
    }
  }

  .product-label {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .product-name {
    .title {
      @include font-size(1, "!");
      span.w {
        line-height: 1.4em !important;
      }
    }
  }
  .product-stock {
    @include font-size(0.85);
  }
  .product-price {
    @include font-size(0.85);
  }
  .product-total {
    .title {
      @include font-size(0.85);
    }
  }
  .product-spec {
    div[class*="spec-"] {
      text-transform: uppercase;
      @include font-size(0.85);
      // margin-bottom: 0.25rem !important;
      //  line-height: 0.9em;
    }
  }
  // overites criterial on specific size
  &.device-lg-992 {
    .product-label {
      margin-right: 1.25rem;
    }
  }

  &.device-md-768 {
    .product-label {
      margin-right: 1.2rem;
    }
  }

  &.device-md-768,
  &.device-lg-992 {
    //  height: 100%;
    .product-stock,
    .product-price,
    .product-total {
      margin-right: 1.5rem !important;

      > .d-flex {
        height: 100%;
      }
    }
    .product-total {
      margin-right: inherit !important;
    }
  }

  &[class*="device-xs"] {
    .product-stock,
    .product-price {
      > .d-flex {
        height: 100%;
      }
      margin-right: 0.75rem !important;
    }
    .product-total {
      margin-right: inherit !important;
    }
  }
}

@mixin blur-bg() {
  .blur-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    .bg-span {
      left: 0;
      top: 0;
      display: block;
      position: absolute;
      z-index: 0;
      height: 100%;
      width: 100%;
      background-color: $grey1;
      background-image: url("/libs/theme/assets/bg_grey_tile.png");
      background-position: center center;
      background-size: cover;
    }
  }
}

// NOTE nice but, has a toll on animation!
@mixin blur-bg-alt() {
  .blur-bg {
    width: 100%;
    height: 100%;
    -webkit-filter: blur(224px);
    -moz-filter: blur(224px);
    -o-filter: blur(224px);
    -ms-filter: blur(224px);
    filter: blur(224px);
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    .bg-span {
      left: 0;
      top: 0;
      display: block;
      position: absolute;
      z-index: 0;
      height: 100%;
      width: 130%;

      background-image: url("/libs/theme/assets/bg-blur-alt.png");
      background-position: center;
      background-repeat: repeat;
      opacity: 0.5;
    }
  }
}

/**
 * offset alignments to client needs
 * **/

@mixin screen-realignment-lg() {
  buypart-top-nav {
    mat-toolbar-row {
      #admin-wrap {
        margin-right: -1.25rem;
        margin-top: 0.5rem;
      }
      .search-outter-wrap {
        margin-left: 4.5rem;
        #search-wrap {
          margin-right: -2rem;
        }
      }
    }
  }

  buypart-home {
    .prem-prod-row {
      margin-top: -1.75rem;
      margin-bottom: 0.25rem !important;
    }
  }

  buypart-product-prem {
    .device-xl-1200 {
      .prem-section-first {
        max-width: 116px;
      }
      .prem-section-last {
        width: inherit;
        min-width: 420px;
      }
    }
  }
}

//----------------- animations

@mixin product-hover() {
  buypart-product[animation="true"] {
    transition: all 0.3s;
    &:hover {
      transform: scale(1.005);

      .product-wrap {
        @include box-shadow(
          1px,
          1px,
          16px,
          -3px,
          rgba(0, 0, 0, 0.3) !important
        );
      }
    }
  }
}

@mixin product-prem-hover() {
  buypart-product-prem[animation="true"] {
    transition: all 0.3s;
    &:hover {
      transform: scale(1.005);
      // .product-prem-wrap {
      //   @include box-shadow(
      //     1px,
      //     1px,
      //     16px,
      //     -3px,
      //     rgba(0, 0, 0, 0.3) !important
      //   );
      // }
    }
  }
}

// product
@mixin product-animation() {
  buypart-product[animation="true"] {
    opacity: 0;
    &.animation {
      animation: fadeIn ease-in 0.4s;
      -webkit-animation: fadeIn ease-in 0.4s;
      -moz-animation: fadeIn ease-in 0.4s;
      opacity: 1;
    }
  }
}

// product-prem
@mixin prem-product-animation() {
  buypart-product-prem[animation="true"] {
    opacity: 0;
    &.animation {
      animation: fadeIn ease-in 0.2s;
      -webkit-animation: fadeIn ease-in 0.2s;
      -moz-animation: fadeIn ease-in 0.2s;
      opacity: 1;
    }
  }
}

@mixin icon-animation() {
  buypart-icon {
    opacity: 1;
    &:hover {
      &.animation {
        animation: slightFadeOut ease-in 0.2s;
        -webkit-animation: slightFadeOut ease-in 0.2s;
        -moz-animation: slightFadeOut ease-in 0.2s;
        opacity: 0.8;
      }
    }
  }
}

@keyframes slightFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
