// iphone 5 down / less then 375 and down
@media (max-device-width: 330px) {
  .container-fluid.inner-content-layout {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  buypart-product {
    .product-name {
      font-size: 0.85em !important;
    }
    .product-wrap {
      .column-1 {
        margin-left: 0.25rem;
      }
      .column-2 {
        margin-left: -0.5rem;
      }
      &.p-3 {
        padding: 0.5rem 0.75rem !important;
      }
    }
  }
}

@media (max-device-width: 375px) {
  buypart-product {
    .product-name {
      font-size: 1em !important;
      line-height: 1.3em !important;
      letter-spacing: -0.01em;
    }
  }
}

// standard ipad width
@media (device-width: 1024px) {
  buypart-product-prem {
    .product-inner > .pusher {
      display: none !important;
    }

    .row-section-2 {
      min-width: 330px;
      //margin-right: 0.5rem !important;
    }

    .prem-section-first {
      buypart-image {
        img {
          max-height: 105px !important;
        }
      }
    }
  }
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-down(sm) {
  section.section {
    > .title {
      &.mb-1 {
        margin-top: -0.25rem !important;
        margin-bottom: 0.5rem !important;
      }
    }
  }
  .d-xs-none {
    display: none !important;
  }

  buypart-top-nav {
    mat-toolbar-row {
      .toolbar-section-2 {
        > .flex-row {
          margin-right: -0.75rem;
        }
        #search-wrap {
          margin-top: 0.25rem !important;
          input {
            border: none !important;
            background: transparent;
          }
        }
        .justify-content-between {
          justify-content: flex-end !important;
        }

        .m-auto {
          margin: 0px !important;
        }
        .w-50 {
          width: 36px !important;
          overflow: hidden;
        }
      }
    }

    .container-fluid {
      &[class*="px-4"] {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
      }
    }
  }

  buypart-home {
    .product-row {
      &.mt-5 {
        margin-top: 0.25rem !important;
      }
    }
  }
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-down(md) {
  h1 {
    font-size: 1.25em !important;
  }

  buypart-filter-nav {
    #filter-nav {
      div[class*="section-"] {
        span.title {
          font-size: 0.85em !important;
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  @include screen-realignment-lg();
}

@include media-breakpoint-up(xl) {
  @include screen-realignment-lg();
}
