@import "./colors";
@import "./variables";
@import "./mixins";

// NOTE only 2 free types are available no italics
@import url("https://fonts.googleapis.com/css?family=Calibri:400,700|Material+Icons");

@import "./theme";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/utilities/background";
@import "~bootstrap/scss/button-group";
//@import "~bootstrap/scss/list-group";
//@import "~bootstrap/scss/card";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/buttons";
//@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/alert";
//@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/reboot";
@import "./responsive";

html {
  background: $white1;
  background-color: $white1 !important;
  // background: $body-bg;
  // background-color: $body-bg !important;
}

body {
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: $body-color;
  margin-bottom: 0;
  // background: $black-custom;

  // to see throu our blur bg
  background-color: transparent !important;
}

section.section {
  //
}

a.reset-link {
  color: inherit !important;
  &:link {
    color: inherit !important;
  }
  &:visited {
    color: inherit !important;
  }
}

h1 {
  font-size: 1.75em;
  line-height: 1em;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  line-height: 1em;
  font-weight: 700;
}

.strong {
  font-weight: 700;
}

.mat-divider {
  border-top-color: $black !important;
}

.cf {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}
.border-b-1 {
  border-bottom: 1px solid $black;
}
