@import "colors.scss";
@import "mixins.scss";

:host {
  display: block;

  mat-toolbar {
    @include box-shadow(1px, 1px, 19px, -2px, rgba(0, 0, 0, 0.2));
  }
  .toolbar-section-1 {
    buypart-icon#hamburger-menu {
      display: inline-block;
    }
    #header-logo {
      display: inline-block;
    }
  }

  #search-wrap {
    input {
      color: #9b9d9d;
      font-size: 0.85rem;
      padding-left: 15px;
      border-radius: 1.2rem !important;
      border-width: thin;
      border-color: $grey2;
      &:focus {
        outline: none !important;
      }
      &::placeholder {
        font-size: 0.85rem;
        opacity: 0.7;
        padding-left: 5px;
      }
    }
    .search-cta {
      position: absolute;
      right: -6px;
      top: -5px;
      display: flex;
      align-items: center;
      text-align: center;
      z-index: 10;
    }
  }
}
