<!-- Start Menu -->
<header class="m-0 container-fluid px-0 mb-4">
  <mat-toolbar class="">
    <mat-toolbar-row class="my-2 px-4">

      <div class="w-25 toolbar-section-1">     
        <a [href]="" class="reset-link">
          <buypart-icon name="hamburger" class="animation" id='hamburger-menu'></buypart-icon>
        </a>

        <!--logo section-->
        <div id='header-logo' class='ml-2 d-none'>
        buypart
       </div>
 
      </div>
 
      <div class="w-75 px-0 toolbar-section-2">
        <div
          class="d-flex justify-content-between align-content-around flex-row">
          <div class="w-50 my-auto search-outter-wrap">
            <div
              id="search-wrap"
              class="d-flex justify-content-center align-content-around flex-wrap">
              <div class="w-100 input-group">
                <input
                  type="search"
                  class="form-control w-100"
                  placeholder="Search"
                  aria-label="Search"
                  aria-describedby="search-addon"
                />
                <span class="search-cta mx-1" id="search-addon">
                  <a [href]="" class="reset-link">
                    <buypart-icon
                      class="animation"
                      name="search"></buypart-icon>
                  </a>
                </span>
              </div>
            </div>
          </div>

          <div
            id="admin-wrap"
            class="d-flex w-auto justify-content-end align-content-center flex-wrap">
            <div class="p-1">
              <a [href]="" class="reset-link">
                <buypart-icon
                  class="pb-0 animation"
                  name="account"
                  desc="Account"></buypart-icon>
              </a>
            </div>

            <div class="p-1">
              <a [href]="" class="reset-link">
                <buypart-icon
                  class="pb-0 animation"
                  name="orders"
                  desc="Orders"></buypart-icon>
              </a>
            </div>
            <div class="p-1">
              <a [href]="" class="reset-link">
                <buypart-icon
                  class="pb-0 animation"
                  name="cart-on"
                  desc="Cart"></buypart-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
