@import "colors.scss";
@import "mixins.scss";

:host {
  display: block;
  .product-quantity {
    @include font-size(1);
    .input-group {
      width: 120px;
      height: 40px;
      .input-group-text {
        &.minus {
          padding-left: 1rem;
        }
        &.plus {
          padding-left: 0.8rem;
        }
        user-select: none;
        cursor: pointer;
        color: $black;
        width: 33.33%;
        line-height: 0.6;
        font-size: x-large;
        border-radius: unset;
        border: 1px solid $dark1;
        background-color: transparent;
      }
      input.form-control {
        width: 33.33%;
        padding: 5px;
        text-align: center;
        font-weight: 700;
        font-size: 1em;
        height: 100%;
        color: $black;
        background-color: $grey3;
      }
    }

    .add {
      height: 38px;
      border-radius: 4px;
      margin-left: 40px;
      padding-right: 22px;
      padding-left: 20px;
    }

    .form-control:focus {
      color: $dark1;
      background-color: #fff;
      border-color: $dark1;
      outline: 0;
      box-shadow: none;
    }
  }
}
