@import "mixins.scss";
@import "colors.scss";

:host {
  display: block;
  overflow-x: hidden;
  .title {
    mat-divider {
      border-top-color: transparent;
    }
  }
  #load-more {
    border: solid 1px black;
    @include border-radius(16px);
    @include box-shadow(1px, 1px, 6px, -2px, rgba(0, 0, 0, 0.2));
    font-size: 1.1em;
    font-weight: 700;
  }
}
