<section class="section mt-1">
  <div class="title mb-1 cf">
    <h1>Reccomended Products</h1>
  </div>

  <buypart-filter-nav
    class="d-xs-none d-md-block"
    [filterSelection]="selectedFilter"
    [sortSelection]="selectedSort"
    (act)="filterNavAction($event)"
  ></buypart-filter-nav>

  <mat-divider class='cf d-md-none d-sm-block'></mat-divider>


  <div *ngIf="scrollableEnabled && premProductList.length && (staged.promise |async )" class="row">
    <div
      id="drag-scroll-wrap" class="w-100 ml-2">
      <drag-scroll
        #nav
        (indexChanged)="onIndexChanged($event)"
        (dsInitialized)="onDsInitialized($event)"
        [drag-scroll-y-disabled]="true"
        [scrollbar-hidden]="true"
        >
        <buypart-product-prem
          drag-scroll-item    
          [product]="prem"
          [breakPoint]="responsiveState"
          *ngFor="let prem of premProductList; let inx = index"
          class="{{premProductList.length-1!==inx ? 'mx-1': 'ml-1 mr-5' }}">
        </buypart-product-prem>

      </drag-scroll>
    </div>
  </div>

  <div
    class="row prem-prod-row"
    *ngIf="premProductList.length && !scrollableEnabled"
  >
    <div
      *ngFor="let prem of premProductList; let inx = index"
       class="col-lg-6 col-md-6 col-sm-12 prem-index-{{ inx }} p-1"
    >
      <buypart-product-prem
        class="{{inx===0 ?'ml-2':''}}"
        [breakPoint]="responsiveState"
        (action)="productPremAction($event)"
        [product]="prem"
      ></buypart-product-prem>
    </div>
  </div>

  <div class="row mt-2 product-row">
    <div *ngFor="let prod of productList | sortByRating: sortByValue; let inx = index"
        class="col-lg-12 col-md-6 col-sm-12 {{bpTest(['xs']) ? 'px-0':'px-2'}}">
      <!--product-->

      <buypart-product
        class="mb-3"
        (action)="productAction($event)"
        [product]="prod"
        [breakPoint]="responsiveState"
      ></buypart-product>
    </div>
  </div>

  <div class="row mb-4">
    <button
      id="load-more"
      class="btn btn-outline-dark w-100 mx-3 mt-0"
      mat-raised-button
      color="none"
    >
      Load More Results
    </button>
  </div>
</section>
