@import "colors.scss";
@import "mixins.scss";
:host {
  display: block;

  img.image {
  }

  img#tires-auto-express-img {
    height: 100%;
    max-height: 128px;
    width: auto;
  }
  img#tires-auto-express-sm-img {
    height: 100%;
    max-height: 127px;
    width: auto;
  }
}
