
  <div
    *ngIf="product"
    class="{{breakPointClasses.ref}} {{breakPointClasses.size}} d-flex flex-row justify-content-between align-items-center product-wrap bg-white 
    {{ bpTest([667]) ? 'm-0 px-5 py-3':
      (bpTest(['xs']) && !bpTest([320])) ? 
    'px-4 py-3 my-0 mx-2':bpTest([320]) ? 'p-2 mx-3':bpTest(['ipad',768]) ? 'm-0 px-4 py-3':'p-2 m-0'}}">

  <!--layout:A-->
  <ng-container *ngIf="breakPointLarger">
  
    <ng-container *ngTemplateOutlet="productName"></ng-container>
    <ng-container *ngTemplateOutlet="productLabel"></ng-container>
    <ng-container *ngTemplateOutlet="productSpec"></ng-container>
    <ng-container *ngTemplateOutlet="productStock"></ng-container>
    <ng-container *ngTemplateOutlet="productPrice"></ng-container>

    <buypart-quantity 
    class="ml-3"
        (act)="quantityAction($event)" 
        [value]="product.quantity" 
        [breakPoint]='breakPoint'></buypart-quantity>
    <ng-container *ngTemplateOutlet="productTotal"></ng-container>
    <ng-container *ngTemplateOutlet="productCart"></ng-container>   
  </ng-container><!--:end-->

   <!--layout:B-->
  <ng-container *ngIf="breakPointSmaller">

    <div class="d-flex flex-column column-1 justify-content-between">
      <ng-container *ngTemplateOutlet="productName"></ng-container>

      <div class="d-flex flex-row">
        <ng-container *ngTemplateOutlet="productLabel"></ng-container>
        <ng-container *ngTemplateOutlet="productStock"></ng-container>  
      </div>

      <buypart-quantity 
      (act)="quantityAction($event)"
      [value]="product.quantity" [breakPoint]='breakPoint'>
    </buypart-quantity>

    </div>


    <div class="d-flex flex-column column-2 justify-content-between">
      <ng-container *ngTemplateOutlet="productSpec"></ng-container>
      <div class="d-flex flex-row my-2 {{ (bpTest(['xs']) && product.save) ? 'align-items-center':''}}
      {{bpTest([320]) ? 'ml-2':''}} ">
        <ng-container *ngTemplateOutlet="productPrice"></ng-container>
        <ng-container *ngTemplateOutlet="productTotal"></ng-container>
      </div>
      <ng-container *ngTemplateOutlet="productCart"></ng-container>   
    </div>
  </ng-container><!--:end-->
  </div>


<ng-template #productName>
  
  <div class="product-name {{ ( bpTest(['xl','lg']) && !bpTest(['ipad']) ) ? 'pl-3':bpTest([320]) ? 'mt-1':'pl-0'}}">
    <div class="d-flex justify-content-between align-items-center">
      <div [innerHTML]="product.name"></div>
    </div>
  </div>
</ng-template>



<ng-template #productLabel>
  <div 
  class="product-label">
    <div class="d-flex justify-content-between align-items-center">
      <buypart-icon 
      class="m-auto"
      [name]="product.label.ref"></buypart-icon>
    </div>
  </div>
</ng-template> 

<ng-template #productSpec>
  <div 

  class="product-spec {{breakPointSmaller ? 'mt-2':'' }} {{bpTest([320])? 'ml-2':''}}" >
    <div class="d-flex align-items-center">
      <div class="d-flex flex-column m-auto">
        <div class="spec-a">{{ product.spec[0] }}</div>
        <div class="spec-b">{{ product.spec[1] }}</div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #productStock>


  <div 
  class="product-stock" *ngIf="breakPointLarger">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <div class="d-flex flex-column m-auto">
        <div class="d-flex align-items-center mb-1">
          <span>Stock&nbsp;</span>
          <buypart-icon [name]="product.stock.ref" ></buypart-icon>     
        </div>

        <ng-container *ngTemplateOutlet="productStockMessage"></ng-container>
        <div class="pusher"></div>
      </div>
    </div>
  </div>

  <div 
  class="product-stock" *ngIf="breakPointSmaller">
    <div class="d-flex flex-column align-items-center justify-content-center">

      <div class="d-flex flex-column m-auto pl-1" *ngIf="product.stock.message">
        <div class="d-flex align-items-center">
          <span>Stock</span>
          <buypart-icon [name]="product.stock.ref" ></buypart-icon>     
        </div>

        <ng-container *ngTemplateOutlet="productStockMessage"></ng-container>
        <!-- <div class="pusher"></div> -->
      </div>

      <div class="d-flex flex-column align-items-center justify-content-center" 
      *ngIf="!product.stock.message">

          <div>Stock</div>
          <buypart-icon [name]="product.stock.ref" ></buypart-icon>     
 
        <!-- <div class="pusher"></div> -->
      </div>


    </div>
  </div>

  <ng-template #productStockMessage>
    <div *ngIf="product.stock.message" 
    [ngClass]="{'text-black': product.stock.value==='in' || product.stock.value==='low','text-danger':product.stock.value==='out' }"
    class="notices strong">
      {{ product.stock.message }}
    </div>
  </ng-template>



</ng-template>


<ng-template #productPrice>
  
  <div class="product-price" *ngIf="breakPointLarger">
    <div class="d-flex align-items-center">    
      <div>
        <span>Price&nbsp;</span
        ><span class="price-value"
          >{{ product.price.pre }}{{ nicePrice(product.price.value) }}
        </span>
      </div>
    </div>
  </div>

    <div class="product-price mr-3" *ngIf="breakPointSmaller">
      <div class="d-flex flex-column align-items-start">    
          <div>Price&nbsp;</div>
          <div class="price-value">{{ product.price.pre }}{{ nicePrice(product.price.value) }}</div>
      </div>
    </div>

</ng-template>


<ng-template #productTotal>

  <div class="product-total mx-3" *ngIf="breakPointLarger">
    <div 
    class="d-flex align-items-center">
      <div>
        <span>Total&nbsp;&nbsp;</span>
        <span class="price-value strong">{{ product.total.pre }}{{ nicePrice(product.total.value) }}</span>
      </div>
    </div>
  </div>

  <div class="product-total" *ngIf="breakPointSmaller">
    <div 
    class="d-flex align-items-start flex-column">
      <div>
        <span>Total&nbsp;</span>
        <span class="price-value strong">{{ product.total.pre }}{{ nicePrice(product.total.value) }}</span>
      </div>

      <div *ngIf="product.save" class="product-save">
        <span class="save-value text-danger">Save {{ product.save.pre}}{{ nicePrice(product.save.value) }}!</span>
      </div>

    </div>
  </div>


</ng-template>

<ng-template #productCart>
  <div class="product-add-card">
    <div class="d-flex align-items-center">
      <a [href]="" class="a-reset">
        <buypart-icon 
        [ngClass] ="{'p-0': breakPointSmaller}"
        class="animation"
        [name]="product.cta.label"></buypart-icon>
      </a>
    </div>
  </div>
</ng-template>
