@import "mixins.scss";
@import "colors.scss";
:host {
  display: block;

  div.pusher {
    width: 100px;
    display: block;
    overflow: hidden;
    height: 0px;
  }

  @include create-break-points();

  .product-wrap {
    @include box-shadow(0px, 0px, 9px, -3px, rgba(0, 0, 0, 0.1));

    div[class*="product-"],
    buypart-quantity {
      @include font-size(1);
      margin-right: 0.25rem;

      > div.align-items-center {
        height: 100%;
      }

      &:nth-child(8) {
        margin-right: 0 !important;
      }
    }

    buypart-quantity {
      min-width: 120px;
    }

    .product-label {
      > .d-flex {
        min-width: 90px;
      }
    }
    .product-spec {
      line-height: 1.4em;
      > .d-flex {
        min-width: 120px;
      }
      div[class*="spec-"] {
        text-transform: uppercase;
      }
    }

    .product-name {
      @include font-size(1);
      font-weight: 700;
      text-decoration: underline;
      line-height: 1.5em;
      min-width: 140px;
    }

    .product-stock {
      > .d-flex {
        min-width: 100px;
      }
      .notices {
        @include font-size(0.85);
      }

      buypart-icon {
        margin-top: -2px;
      }
    }

    .product-total {
      .price-value {
        @include font-size(1.25);
      }
    }

    // responsive section to override above

    &.break-point-is-small {
      .column-1 {
        min-height: 147px !important;
        .product-name {
          @include font-size(1);
        }
        .product-label {
          > div.d-flex {
            min-width: 44px !important;
          }
        }
        .product-stock {
          @include font-size(0.85);
          > div.d-flex {
            min-width: 67px !important;
          }
          .notices {
            font-size: inherit;
            letter-spacing: -0.02em;
          }
        }
      }

      .column-2 {
        min-height: 147px !important;
        .product-spec {
          @include font-size(0.85);
          div.d-flex {
            &.m-auto {
              margin: 0 !important;
            }
          }
        }
        .product-price {
          @include font-size(0.85);
          line-height: 1.4em;
        }
        .product-total {
          @include font-size(0.85);
          line-height: 1.4em;
          div.d-flex {
            margin-top: -2px;
          }
        }
      }

      // notice spacing adjustment
      &.device-xs-320,
      &.device-xs-375 {
        .product-price {
          min-height: 40px;
        }
        .product-stock {
          .notices {
            font-size: inherit;
            letter-spacing: -0.05em !important;
          }
        }
      }
    } // end

    &.break-point-is-large {
    }
  } // end product-wrap
}
