:host {
  display: block;
  overflow-x: hidden;
  .layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .bottom-container {
      display: flex;
      width: 100%;
      flex-grow: 1;

      .content {
        width: 100%;
      }
    }
  }
}
