@import "colors.scss";
:host {
  overflow: hidden;
  opacity: 1;

  &.hide-spinner {
    animation: fadeOut ease-out 0.5s;
    -webkit-animation: fadeOut ease-out 0.5s;
    -moz-animation: fadeOut ease-out 0.5s;
    opacity: 0;
  }

  #start-app-preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    background: rgba(255, 255, 255, 0.8); //rgba(255, 204, 153, 0.7);
    z-index: 111;
    left: 0;
  }

  #start-app-preloader > #box-spinner-preloader {
    transition: all 1s ease-in-out;
    width: 130px;
    position: absolute;
    top: 45%;
    left: 0;
    z-index: 112;
    right: 0;
    margin: auto;
  }
  #start-app-preloader > #box-spinner-preloader svg {
    stroke: none;
    fill: $orange;
  }
  #start-app-preloader > #box-spinner-preloader .r1 {
    fill: #fff;
  }
  #start-app-preloader > #box-spinner-preloader .big {
    transform: scale(5) translate(calc(-9px / 5), calc(-9px / 5));
    transform-origin: 100% 100%;
    transform-box: fill-box;
  }
  #start-app-preloader > #box-spinner-preloader .r_ol {
    transform-origin: 0 0;
    transform-box: fill-box;
  }
  #start-app-preloader > #box-spinner-preloader svg .r_ol {
    animation: small2big 1s ease-in-out infinite;
  }
  #start-app-preloader > #box-spinner-preloader svg .big {
    animation: big2small 1s ease-in-out infinite;
  }
  #start-app-preloader > #box-spinner-preloader svg .r_or {
    animation: or2ol 1s ease-in-out infinite;
  }
  #start-app-preloader > #box-spinner-preloader svg .r_ul {
    animation: ul2ol 1s ease-in-out infinite;
  }
  #start-app-preloader > #box-spinner-preloader svg .g1 {
    animation: rot 4s ease infinite;
  }
  @keyframes or2ol {
    0% {
      transform: scale(1) translate(0);
    }
    25% {
      transform: scale(1) translate(0);
    }
    50% {
      transform: scale(1) translate(-50px, 0);
    }
    50.001% {
      transform: scale(1) translate(0);
    }
  }
  @keyframes ul2ol {
    0% {
      transform: scale(1) translate(0);
    }
    75% {
      transform: scale(1) translate(0);
    }
    100% {
      transform: scale(1) translate(0, -50px);
    }
  }
  @keyframes small2big {
    0% {
      transform: scale(1) translate(0);
    }
    25% {
      transform: scale(5) translate(calc(9px / 5), calc(9px / 5));
    }
    50% {
      transform: scale(5) translate(calc(9px / 5), calc(9px / 5));
    }
    50.001% {
      transform: scale(1) translate(0);
    }
    75% {
      transform: scale(5) translate(calc(9px / 5), calc(9px / 5));
    }
    100% {
      transform: scale(5) translate(calc(9px / 5), calc(9px / 5));
    }
  }
  @keyframes big2small {
    0% {
      transform: scale(5) translate(calc(-9px / 5), calc(-9px / 5));
    }
    25% {
      transform: scale(1) translate(0);
    }
    50% {
      transform: scale(1) translate(0, -50px);
    }
    50.001% {
      transform: scale(5) translate(calc(-9px / 5), calc(-9px / 5));
    }
    75% {
      transform: scale(1) translate(0);
    }
    100% {
      transform: scale(1) translate(-50px, 0);
    }
  }
  @keyframes rot {
    0% {
      transform: rotate(45deg);
    }
    12.5% {
      transform: rotate(45deg);
    }
    25% {
      transform: rotate(135deg);
    }
    37.5% {
      transform: rotate(135deg);
    }
    50% {
      transform: rotate(225deg);
    }
    62.5% {
      transform: rotate(225deg);
    }
    75% {
      transform: rotate(315deg);
    }
    87.5% {
      transform: rotate(315deg);
    }
    100% {
      transform: rotate(405deg);
    }
  }
  #box-spinner-preloader,
  #start-app-preloader {
    overflow: hidden;
  }
  #start-app-preloader > #box-spinner-preloader .g1 {
    transform-origin: 50% 50%;
    transform: rotate(45deg);
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: none;
    }
  }
}
