/** 
 * base styling is declared from `libs\theme\scss\styles.scss`
 * here we can add overrites to current theme
 *  usually :host scopes has limited access to inner component elements
 * - NOTE all re-alignment adjustments from index.html screens are semi applied via _responsive.scss break-points and mixins
*/
@import "colors.scss";
@import "mixins.scss";

a {
  cursor: pointer;
}

// this class is added and removed dynamicly by the spinner component
buypart-root.blur-app-while-loading {
  buypart-main {
    display: block;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }
}

buypart-home {
  .mat-form-field {
    @include mat-form-field-reset(90px);
  }

  // few override requirements for the plugin
  #drag-scroll-wrap {
    margin-bottom: -0.75rem;
    drag-scroll {
      width: 100%;
      min-height: 280px;
      .drag-scroll-wrapper {
        width: 100%;
        min-height: 280px !important;
      }
      .drag-scroll-content {
        width: 100%;
        overflow: scroll !important;
      }

      buypart-product-prem {
        min-height: 280px;
      }
    }
  }
}

buypart-product {
  .product-name {
    span.w {
      float: left;
      clear: both;
      text-decoration: underline;
    }
  }

  .break-point-is-small {
    .column-1 {
      buypart-quantity {
        .input-group {
          width: 125px !important;
        }
      }

      .product-label {
        buypart-icon {
          > img {
            max-width: 44px !important;
          }
        }
      }
    }
  }
}

buypart-product-prem {
  .break-point-is-small {
    .product-name {
      // hide bit of text
      span.s {
        display: none;
      }
      // mvoe to next line
      span.w {
        float: left;
        clear: both;
        line-height: 1.5em;
        text-decoration: underline;
      }
    }

    .product-label {
      buypart-icon {
        > img {
          max-width: 39px !important;
        }
      }
    }
  }

  .in-slider-view {
  }
}

@include blur-bg();
// @include blur-bg-alt() // some performance issues

//----------- animations
// REVIEW some animation is disabled in mobile mode, will add later
@include product-animation();
@include prem-product-animation();
@include product-hover();
@include product-prem-hover();
@include icon-animation();
