/** 
 * base styling is declared from `libs\theme\scss\styles.scss`
 * here he can add overrites to the current theme
*/

@import "mixins.scss";

buypart-home {
  .mat-form-field {
    @include mat-form-field-reset(80px);
  }
}
buypart-product {
  .product-name {
    span.w {
      float: left;
      clear: both;
      text-decoration: underline;
    }
  }
}
