/** 
 * base styling is declared from `libs\theme\scss\styles.scss`
 * here he can add overrites to the current theme
 *  usually :host scopes have limited access to inner component elemnts
*/

@import "mixins.scss";

buypart-home {
  .mat-form-field {
    @include mat-form-field-reset(90px);
  }
}

buypart-product {
  .product-name {
    span.w {
      float: left;
      clear: both;
      text-decoration: underline;
    }
  }

  .break-point-is-small {
    .column-1 {
      buypart-quantity {
        .input-group {
          width: 125px !important;
        }
      }

      .product-label {
        buypart-icon {
          > img {
            max-width: 44px !important;
          }
        }
      }
    }
  }
}

buypart-product-prem {
  .break-point-is-small {
    .product-name {
      span.w {
        float: left;
        clear: both;
        line-height: 1.5em;
        text-decoration: underline;
      }
    }

    .product-label {
      buypart-icon {
        > img {
          max-width: 39px !important;
        }
      }
    }
  }

  .in-slider-view {
 
  }
}
