@import "colors.scss";
@import "mixins.scss";

:host {
  color: $grey2;
  display: block;
  padding: 0.25rem;
  height: auto;
  background-color: transparent;

  .icon-wrap {
    .icon-text {
      font-size: 0.8rem;
      line-height: 0.8rem;
    }
  }

  img.icon {
  }
  img#add-card-lg-icon {
    width: 152px;
  }
  img#cart-notify-lg-icon {
    width: 152px;
  }

  img#add-card-md-icon {
    width: 135px;
  }
  img#cart-notify-md-icon {
    width: 135px;
  }

  img#cart-notify-sm-icon {
    width: 77px;
  }

  img#add-card-sm-icon {
    width: 77px;
  }

  img#approved-oe-icon {
    width: 65px;
  }

  img#cart-off-icon {
    @include margin-top(-2);
    height: 30px;
    width: auto;
  }

  img#cart-on-icon {
    @include margin-top(-2);
    height: 30px;
    width: auto;
  }

  img#hamburger-icon {
    width: 26px;
  }
  img#orders-icon {
    height: 26px;
    width: auto;
  }
  img#search-icon {
    width: 30px;
  }
  img#account-icon {
    height: 26px;
    width: auto;
  }

  img#tick-green-icon {
    width: 14px;
  }
  img#tick-red-icon {
    width: 14px;
  }
  img#tick-yellow-icon {
    width: 14px;
  }

  img#tick-account-icon {
  }
}
