<div 
*ngIf="product"
class="product-prem-wrap {{breakPointClasses.size}} {{breakPointClasses.slider}} {{breakPointClasses.device}} {{breakPointClasses.ref}}">
  <div class="prem-item product-banner ml-1">
    <div class="d-flex flex-row justify-content-start">
      <div class="title bg-warning text-black px-4 py-1">
        Premium Bestseller
      </div>
    </div>
  </div>
  
  <div 
  class="product-inner bg-white {{
    bpTest([667]) ? 'py-3 px-4 m-1':
    bpTest(['ipad']) ? 'px-2 pb-2 pt-3 m-1':'p-2 m-1'}}">

    <div 
    *ngIf="!breakPointSmaller"
    class="pusher mt-2"></div>

 

    <div 
    [ngClass]="{'flex-row product-prem-row':breakPointLarger,'flex-column product-prem-column': breakPointSmaller }"
    class="d-flex {{bpTest(['ipad']) ? 'justify-content-start':'justify-content-between'}}">


      <!--layout:A-->
      <ng-container *ngIf="breakPointLarger">
        <ng-container *ngTemplateOutlet="productImage"></ng-container>
        <div class="product-detail prem-section-last {{!bpTest(['ipad'])? ' ml-3 mr-1':' ml-3 mr-0'}}">

          <div class="d-flex flex-column justify-content-start">
            <ng-container *ngTemplateOutlet="productName"></ng-container>
      
            <div class="d-flex flex-row justify-content-between align-items-center row-section-2
              {{ bpTest(['xl','full',992]) ? 'mr-4' : bpTest(['ipad']) ? 'pr-2':''}}
            ">
              <ng-container *ngTemplateOutlet="productLabel"></ng-container>
              <ng-container *ngTemplateOutlet="productSpec"></ng-container>
      
              <div class="prem-item-grouped">
                <div class="d-flex flex-column justify-content-center">
                  <ng-container *ngTemplateOutlet="productStock"></ng-container>
                  <ng-container *ngTemplateOutlet="productPrice"></ng-container>  
                </div>
              </div>
              <!--:end grouped-->
              <ng-container *ngTemplateOutlet="productTotal"></ng-container>
            </div>
            <!--:end row-->
      
            <div
              class="prem-mixed d-flex justify-content-between align-items-center flex-row row-section-3 mt-1"
            >
      
             <buypart-quantity 
             (act)="quantityAction($event)"
             [value]="product.quantity"></buypart-quantity>
             <ng-container *ngTemplateOutlet="productCart"></ng-container>
              
            </div>
          </div>
        </div>
      </ng-container>

      <!--layout:B-->
      <ng-container *ngIf="breakPointSmaller">
       
        <div class="d-flex justify-content-between flex-row">
          <ng-container *ngTemplateOutlet="productImage"></ng-container>
          
          <div 
          class="product-detail prem-section-last {{bpTest([768]) ? 'ml-4 mr-2':'mx-2'}}">

            <div    
            [ngClass]="{'ml-2': bpTest(['md',576])}"
            class="d-flex flex-column justify-content-center">
  
              <ng-container *ngTemplateOutlet="productName"></ng-container>
        
              <div class="d-flex flex-column justify-content-between row-section-2">
    
                  <div class="d-flex flex-row justify-content-start prem-item-grouped"> 
                    <ng-container *ngTemplateOutlet="productLabel"></ng-container>
                    <ng-container *ngTemplateOutlet="productSpec"></ng-container>
                  </div>
                      
         
                  <div 
                  
                  class="d-flex flex-row prem-item-grouped {{bpTest(['xs', 375,768,992]) ? 'justify-content-start':'justify-content-between'}} ">
                    <ng-container *ngTemplateOutlet="productStock"></ng-container>
                    <ng-container *ngTemplateOutlet="productPrice"></ng-container>  
                    <ng-container *ngTemplateOutlet="productTotal"></ng-container>
                </div>
                <!--:end grouped-->
               
              </div>
              <!--:end row-->
        
            </div>
          </div>
        </div>
        
        <div 
        [ngClass]="{'mt-2': breakPointSmaller}"
        class="d-flex justify-content-between flex-row align-items-center">
          <buypart-quantity 
          class="{{bpTest(['md','sm','xs']) ? 'mx-2':'mx-3'}}"
          [value]="product.quantity"></buypart-quantity>
          <ng-container *ngTemplateOutlet="productCart"></ng-container>
        </div>
      
      </ng-container>

    </div>
  </div>
</div>


<ng-template #productImage>


  <div class="prem-item prem-section-first product-image 
            {{ bpTest(['ipad']) ? 'mx-2':bpTest([992]) ? 
              'mx-4 my-3':bpTest(['md', 576]) ? 
              'mx-2 my-3':bpTest(['xs', 375]) ? 'my-3':'mx-4'}}">

    <div class="d-flex flex-column justify-content-center">
      <div><buypart-image [name]="product.premLabel.ref"></buypart-image></div>
    </div>
  </div>
</ng-template>


<ng-template #productName>
  <div class="prem-item product-name row-section-1">
    <div 
    [ngClass]="{'py-2 pr-2':!breakPointSmaller, 'mb-2':breakPointSmaller}"
    class="title" 
    [innerHTML]="product.premName"></div>
  </div>
</ng-template>

<ng-template #productLabel>
  <div 
  [ngClass]="{'mr-2':!ipadOrSmaller}"
  class="prem-item product-label my-1">
    <div><buypart-icon [name]="product.label.ref" class="pl-0"></buypart-icon></div>
  </div>
</ng-template>

<ng-template #productSpec>
  <div 
  [ngClass]="{'mx-2':!ipadOrSmaller}"
  class="prem-item product-spec">
    <div class="d-flex flex-column justify-content-between">
      <div class="spec-a mb-1">{{product.spec[0]}}</div>
      <div class="spec-b">{{product.spec[1]}}</div>
    </div>
  </div>
</ng-template>

<ng-template #productStock>
  <div 
  [ngClass]="{'mx-1':!ipadOrSmaller}"
  class="prem-item product-stock {{!bpTest(['xs',375, 768,992]) ? 'mb-2':''}} ">
    <div 
    [ngClass]="{'flex-column':breakPointSmaller}"
    class="d-flex align-items-center {{ !bpTest(['ipad']) ? 'justify-content-start':'justify-content-between' }}">
      <div>Stock&nbsp;&nbsp;</div>
      <buypart-icon 
      [ngClass]="{'p-0':!breakPointSmaller}"
      [name]="product.stock.ref"></buypart-icon>

    </div>
  </div>  
</ng-template>

<ng-template #productPrice>
  <div 
  [ngClass]="{'mx-1':!ipadOrSmaller}" class="prem-item product-price">
    <div 
    [ngClass]="{'flex-column':breakPointSmaller}"
    class="d-flex align-items-start justify-content-between">
      <div class="title p-r-1">Price&nbsp;&nbsp;</div>
      <div class="price">{{product.price.pre}}{{nicePrice(product.price.value)}}</div>
    </div>
  </div>
</ng-template>


<ng-template #productTotal>
  <div 
  [ngClass]="{'mx-1':!ipadOrSmaller}"
  class="prem-item product-total justify-content-between">
    <div class="d-flex flex-column ">
      <div class="title mb-2">Total&nbsp;</div>
      <div class="price">{{product.total.pre}}{{nicePrice(product.total.value)}}</div>
    </div>
  </div>
</ng-template>

<ng-template #productCart>
  <div class="prem-item product-cart {{bpTest(['xs',375]) ? 'mx-1':bpTest(['ipad',768]) ? 'mx-2':''}}">
    <a [href]="" class="a-reset">
      <buypart-icon 
      class="animation"
      [name]="product.cta.label"></buypart-icon>
    </a>
  
  </div>
</ng-template>
