@import "colors.scss";
@import "mixins.scss";
:host {
  display: block;
  user-select: none;
  div.pusher {
    width: 100%;
    display: block;
    overflow: hidden;
    height: 0px;
  }

  .product-prem-wrap {
    .product-inner {
      @include box-shadow(0px, 0px, 9px, -3px, rgba(0, 0, 0, 0.1));
    }

    .product-detail {
      width: 100%;
      .row-section-1 {
        margin-right: 3rem;
      }
      .row-section-2 {
        height: 100%;
        max-height: 100px;
      }
      .row-section-3 {
      }
    }

    .product-banner {
      position: relative;
      left: 0;
      top: 15px;
      font-size: 0.85em;
      font-weight: 700;
    }

    .product-label,
    .product-spec,
    .product-total,
    .product-image,
    .prem-item-grouped {
      > div.d-flex {
        height: 100%;
      }
    }

    .product-spec {
      div[class*="spec-"] {
        text-transform: uppercase;
        @include font-size(1);
      }
    }

    .product-banner {
      .title {
        text-align: center;
        background-color: $orange;
      }
    }

    .product-name {
      .title {
        @include font-size(1.5);
        text-decoration: underline;
        font-weight: 700;
        span.w {
          float: left;
        }
      }
    }

    .product-stock {
      @include font-size(1);
      buypart-icon {
        @include margin-top(-2);
      }
    }

    .product-price {
      @include font-size(1);
    }

    .product-total {
      .title {
        @include font-size(1);
      }
      .price {
        @include font-size(1.25);
        position: relative;
        top: -2px;
        font-weight: 700;
      }
    }

    // all that is responsive
    // overrites in app base styles.scss
    // more overrites in theme styles

    &.device-mobile {
    }

    &.device-ipad {
      @include device-ipad();
    } // device-ipad end

    &.break-point-is-large {
      @include break-point-large();
    }

    &.break-point-is-small {
      @include break-point-small();
    }

    // this class is available along with break-point-is-small
    // so those styles also apply
    &.in-slider-view {
      @include slider-view();
    }
  }
}
